<app-header [header-slider]="false"></app-header>
<main class="mainContainer">
    <section class="section log-signSec">
        <div class="container">
            <div class="log-signForm">
                <form #loginForm = 'ngForm'  (ngSubmit)="onLogin(loginForm)"  class="form_wrap">
                    <h2 class="subheading">Log In</h2>
                    <div class="row">
                        <div class="col-sm-12"><a href="#"><img class="scl-icon" src="assets/images/facebook-img.png" alt="facebook-img"></a></div>
                        <div class="col-sm-12"><a href="#"><img class="scl-icon mt20" src="assets/images/google-img.png" alt="google-img"></a></div>
                    </div>
                    <div class="or"><span>Or</span></div>
                    <ul class="ul row">
                        <li class="col-sm-12">
                            <div class="labelWrap">
                                <input type="text" class="mail"  placeholder="Email Address"  ngModel name="email">
                            </div>
                        </li>
                        <li class="col-sm-12">
                            <div class="labelWrap">
                                <input type="password"  placeholder="Password" ngModel name="password">
                            </div>
                        </li>
                        <li class="col-sm-12">
                            <div class="d-flex justify-content-between flex-wrap align-items-center mt10">
                                <div class="left"><span><input type="checkbox"></span><span>Remember me</span></div> 
                                <a href="#" class="forgot-pass">Forgot Password?</a>
                            </div>
                        </li>
                        <li class="col-sm-12">
                            <div class="btn_center log-sign-btn">
                                <button class="btn" type="submit">Log In</button>
                            </div>
                        </li>
                    </ul>
                    <div class="text-center mt40 lastSec">Don’t have an account? <a [routerLink]="['/signup']">Sign Up</a></div>
                </form>
            </div>
        </div>
    </section>   
</main> 

<app-footer></app-footer>