<footer class="mainFooter"> 
    <div class="ftop">
        <div class="container">
            <div class="d-flex flex-wrap justify-content-around">
                <div class="fblock fblock1"><img src="assets/images/flogo.png" alt=""></div>
                <div class="fblock fblock2">
                    <h3 class="subheading"> Quick Links </h3>
                    <nav class="fnav">
                        <ul> 
                            <li>
                                <a routerLink="/">
                                    <span>Home</span>
                                </a>
                            </li>

                            <li><a [routerLink]="'/foodcategory'" routerLinkActive="active"><span>Food Category</span></a></li>

                            <li><a [routerLink]="['/signup','cooker']" routerLinkActive="active"> <span>Registered as a Cooker</span></a></li>
                            <li><a [routerLink]="['/signup','deliveryman']" routerLinkActive="active"> <span>Want to be Deliveryman</span></a></li> 
                            <li><a [routerLink]="['/signup','customer']" routerLinkActive="active"> <span>Want to be a customer?</span></a></li>
                            <li><a [routerLink]="['/login']"><span>Login</span></a></li>
                            <li><a [routerLink]="['/signup']"><span>Signup</span></a></li>
                            <li><a [routerLink]="'/user-info-modules'" routerLinkActive="active"><span>User</span></a></li>
                            <li><a [routerLink]="'/booking-list'" routerLinkActive="active"><span>Booking List</span></a></li>
                        </ul>
                    </nav>
                </div> 
                <div class="fblock fblock3">
                    <h3 class="subheading"> Contacts</h3> 
                    <ul class="ul fcontact"> 
                        <li> 
                            <i class="fa fa-map-marker" aria-hidden="true"></i>
                            <div>7353 Charles Avenue <br>
                                    Dayton, OH 45420
                            </div>
                        </li>
                        <li> 
                            <i class="fa fa-phone"></i>
                            <a href="tel:+12 345 67890">+12 345 67890</a>  
                        </li>
                        <li> 
                            <i class="fa fa-envelope"></i>
                            <a href="mailto:info@safsapfood.com">info@safsapfood.com</a> 
                        </li>
                        
                    </ul>  
                </div>
                <div class="fblock fblock4">
                    <h3 class="subheading"> Follow Us</h3> 
                    <div class="social">
                        <a href="https://www.facebook.com" class="sk_facebook"><i class="fa fa-facebook"></i></a> 
                        <a href="https://www.twitter.com" class="sk_instagram"><i class="fa fa-twitter"></i></a> 
                        <a href="https://www.instagram.com" class="sk_instagram"><i class="fa fa-instagram"></i></a> 
                    </div>
                </div>
            </div>
        
            <section class="copyright"> 
                <div class="d-flex align-items-center justify-content-between">
                    <div class="payment-img"><img src="assets/images/pay.png" alt=""></div> 
                    <!-- <p>Designed & Developed by <a href="#">Eclick Softwares & Solutions Pvt. Ltd.</a></p>   -->
                    <div class="d-flex flex-wrap align-items-center"> 
                        <ul class="ul">
                            <li><a href="#">Terms & Conditions</a></li>
                            <li><a href="#">Privacy Policy</a></li>
                        </ul> 
                        <span>© 2020 Safsap Food</span>
                    </div>
                </div>
            </section>
        </div>
    </div>
    
</footer> 
<!-- 1.jquery cdn\ 2.owl carousel\ 3.scrollbar\4.bxslider\ 5.wow \6.b&a slider 7.custom js -->
<script type="text/javascript" src="assets/js/jquery.min.js"></script>  
<script type="text/javascript" src="assets/js/owl.carousel.min.js"></script>
<script type="text/javascript" src="assets/js/Mcustomscrollbar.js"></script> 
<script type="text/javascript" src="assets/js/tabulous.min.js"></script> 
<script type="text/javascript" src="assets/js/wow.min.js"></script>
<script type="text/javascript" src="assets/js/fancybox.js"></script>
<script type="text/javascript" src="assets/js/custom.js"></script>