.left_side h2{
    color: #df3736;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 16px;
    margin: 8px 0 20px 0;
}
.left_side ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.left_side ul li 
{
    color: #36271c;
    padding: 0 0 10px 0;
    font-size: 14px;
    line-height: normal;
    font-weight: 500;
    border-bottom: 1px solid #ccc;
}
.left_side ul li:hover{
    cursor: pointer;
}
.left_side ul li:last-child{
    border: none;
    padding: 0 ;
    margin: 0;
}
.left_side ul li span{
    float: right;
}   

.food_category{
    padding: 50px 0;
    background: #f6f6f6;
}
.left_side
{
    -webkit-box-shadow: 10px 10px 30px -17px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 30px -17px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 30px -17px rgba(0,0,0,0.75);
    padding: 20px;
}
.left_side ul li a{
    width: 100%;
    color: #36271c;
}
.left_side ul li:hover a{
    color:#df3736;
}

.right_side ul{
    list-style: none;
}
.right_side ul li{
    margin: 0 0 40px 0;
}

.right_side li h4
{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 14px;
    color: #36271c;
}
.right_side li h4 span{
   font-weight: 500;
}
.right_side ul li figure img{
    height: 200px;
    width: 100%;
}
.right_side li .wrap_text{
    margin: 20px 0 0 15px;
}
.right_side h2{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    color: #353535;
    font-size: 30px;
    margin: 0 0 30px 12px;
}
.right_side{
    box-shadow: 10px 10px 30px -17px rgb(0 0 0 / 75%);
    padding: 20px;
}
.right_side ul li:last-child{
    margin: 0 0 20px 0;
}
.right_side .wrap_text h4{
    margin: 0 0 10px;
}
.right_side .wrap_text a
{
    border-bottom: 1px solid #df3736;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    text-transform: uppercase;
}
.right_side .wrap_text a.menu{
    margin: 0 0 0 20px;

}